$themes: (
  default: (
    color-primary: #4a7a5e,
    color-text: #d2c7a3,
  ),
  dark: (
    color-primary: #3282b8,
    color-text: #1b262c,
  ),
  "brown": (
    color-primary: #400e32,
    color-text: #f2cd5c,
  ),
);
