* {
  outline: none;
  box-sizing: border-box;

  &:hover::-webkit-scrollbar {
    display: block;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ddd;
    &:hover {
      background-color: #ccc;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }
}

html,
body,
#app {
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  font-size: 16px;
}

#app {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100vh;
}

.place-center {
  display: grid;
  place-content: center;
}
